@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #F9F9F9;
    --green: #628E75;
}

body {
    background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
    background-repeat: no-repeat;
    box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
}


/* --- IMAGE ANIMATION --- */
@-webkit-keyframes floating {
    0%, 100% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }

    50% {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
    }
}

@keyframes floating {
    0%, 100% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }

    50% {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
    }
}

@-webkit-keyframes floatingColumn {
    0%, 100% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }

    50% {
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem);
    }
}

@keyframes floatingColumn {
    0%, 100% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }

    50% {
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem);
    }
}



/* --- MAIN --- */
.main-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-content {
    max-width: 500px;
    padding-top: 120px;
}

.main-content h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.main-content h1 {
    font-weight: 900;
    font-size: 68px;
    line-height: 109%;
    text-transform: uppercase;
    padding-top: 15px;
}

.main-content p {
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    padding: 25px 0px 45px 0px;
}

.group-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.main-image {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.main-image img {
    width: 100%;
    -webkit-animation: floating 4s linear infinite;
    animation: floating 4s linear infinite;
}


/* --- MEDIA QUERIES --- */
@media (max-width: 1480px) {
    .main-container {
        padding: 0px 30px;
        justify-content: space-around;
    }
}

@media (max-width: 1100px) { 
    .main-container {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
    }

    .main-content {
        padding-top: 10px;
        height: 100%;
    }

    .main-image {
        width: 500px;
        height: auto;
        margin-right: 0px;
        align-items: flex-start;
    }

    .main-image img {
        width: 85%;
        -webkit-animation: floatingColumn 4s linear infinite;
        animation: floatingColumn 4s linear infinite;
    }
}

@media (max-width: 700px) {
    .main-content h3 {
        font-size: 18px;
        line-height: 27px;
    }

    .main-content h1 {
        font-size: 56px;
        line-height: 109%;
    }
}

@media (max-width: 540px) {
    .main-image,
    .main-content {
        padding: 0px 20px;
        width: 100%;
    }

    .group-buttons {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
}

@media (max-width: 380px) {
    .main-container {
        padding: 0px 20px;
    }
    .main-content h1 {
        font-size: 45px;
        line-height: 109%;
    }
}